<template>
  <div>
    <div class="flex flex-col justify-center my-2">
      <a class="flex justify-center font-extrabold text-blue-400 text-4xl">iHoover Project</a>
      <a class="flex justify-center font-light text-blue-400 text-2xl mb-4">Made by LAURENT Maxence</a>

      <div class="flex flex-row justify-center gap-2">
        <!-- Input asking how many x rows-->
        <input
          v-model="gridSizeX"
          class="placeholder:italic placeholder:text-slate-400 block bg-white border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
          placeholder="How many rows?"
          type="number"
          name="search"
        />
        <!-- Input asking how many y columns-->
        <input
          v-model="gridSizeY"
          class="placeholder:italic placeholder:text-slate-400 block bg-white border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
          placeholder="How many columns?"
          type="number"
          name="search"
        />
      </div>
      <!-- Button to generate the table-->
      <div class="flex justify-center mt-2">
        <button
          class="rounded-full bg-blue-400 px-4 hover:bg-blue-500 w-40 text-white"
          @click="initializeGrid()"
        >
          Generate Table
        </button>
      </div>
    </div>

    <div class="flex flex-col justify-center my-2">
      <div class="flex flex-row justify-center gap-2">
        <!-- Input asking where the hoover x is gonna be -->
        <input
          :max="gridSizeX - 1"
          min="0"
          v-model="hooverX"
          class="placeholder:italic placeholder:text-slate-400 block bg-white border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
          placeholder="Hoover position X"
          type="number"
          name="search"
        />
        <!-- Input asking where the hoover y is gonna be -->
        <input
          :max="gridSizeY - 1"
          min="0"
          v-model="hooverY"
          class="placeholder:italic placeholder:text-slate-400 block bg-white border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
          placeholder="Hoover position Y"
          type="number"
          name="search"
        />
        <!-- Option chose bewteen N W S or E-->
        <select
          v-model="hooverOrientation"
          class="placeholder:italic placeholder:text-slate-400 block bg-white border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
        >
          <option value="N">N</option>
          <option value="W">W</option>
          <option value="S">S</option>
          <option value="E">E</option>
        </select>
      </div>
      <div class="flex justify-center mt-2">
        <button
          class="rounded-full bg-blue-400 px-4 hover:bg-blue-500 w-40 text-white"
          @click="placeHoover()"
        >
          Place Hoover
        </button>
      </div>
    </div>

    <div class="flex flex-col justify-center my-2">
      <!-- Input to ask moving instruction -->
      <div class="flex flex-row justify-center gap-2">
        <input
          v-model="movingInstruction"
          class="placeholder:italic placeholder:text-slate-400 block bg-white border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
          placeholder="Moving Instruction"
          type="text"
          name="search"
        />
      </div>
      <div class="flex justify-center mt-2">
        <button
          class="rounded-full bg-blue-400 px-4 hover:bg-blue-500 w-40 text-white"
          @click="executeInstruction()"
        >
          Move Hoover
        </button>
      </div>
    </div>

    <div class="grid grid-flow-col">
      <div
        v-for="(row, rowIndex) in gridData"
        :key="rowIndex"
        class="flex flex-col-reverse"
      >
        <div
          v-for="(cell, colIndex) in row"
          :key="colIndex"
          class="flex items-center justify-center rounded-lg h-10 grid-cell bg-slate-500 m-4 text-center"
        >
          {{ cell.label }}
        </div>
      </div>
    </div>

    <div class="flex flex-col justify-center my-2">
      <!-- Input to ask moving instruction -->
      <div class="flex flex-row justify-center gap-2 font-bold text-xl">
        Position: x: {{ hooverX }}, y: {{ hooverY }}, orientation:
        {{ hooverOrientation }}
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  data() {
    return {
      gridSizeX: 10,
      gridSizeY: 10,
      gridData: [],
      hooverX: 5,
      hooverY: 5,
      hooverOrientation: "N",
      movingInstruction: "DADADADAA",
    };
  },
  created() {
    this.initializeGrid();
  },
  methods: {
    initializeGrid(): void {
      this.gridData = Array(this.gridSizeX)
        .fill(null)
        .map((index, x) => {
          return Array(this.gridSizeY)
            .fill(null)
            .map((index, y) => {
              return {
                id: `${x},${y}`,
                label: `${x},${y}`,
              };
            });
        });

    },
    placeHoover(): void {
      if (
        this.hooverX > this.gridSizeX - 1 ||
        this.hooverY > this.gridSizeY - 1
      ) {
        alert("Hoover position is out of bound");
        return;
      }

      // Reset the grid
      this.gridData.forEach((row) => {
        row.forEach((cell) => {
          cell.label = cell.id;
        });
      });

      let hoover = null;
      if (this.hooverOrientation === "N") hoover = "⬆️";
      if (this.hooverOrientation === "E") hoover = "➡️";
      if (this.hooverOrientation === "S") hoover = "⬇️";
      if (this.hooverOrientation === "W") hoover = "⬅️";

      this.gridData[this.hooverX][this.hooverY].label = hoover;
    },
    executeInstruction(): void {
      // Get movingInstruction string and split it into an array
      const movingInstructionArray = this.movingInstruction.split("");
      // For each letter in the array, move the hoover
      movingInstructionArray.forEach((letter) => {
        if (letter === "D" || letter === "G") {
          this.rotateHoover(letter);
        }

        if (letter === "A") {
          this.forwardHoover();
        }
      });
    },
    rotateHoover(newOrientation: string): void {
      switch (this.hooverOrientation) {
        case "N":
          if (newOrientation === "D") {
            this.gridData[this.hooverX][this.hooverY].label = "➡️";
            this.hooverOrientation = "E";
          } else if (newOrientation === "G") {
            this.gridData[this.hooverX][this.hooverY].label = "⬅️";
            this.hooverOrientation = "W";
          }
          break;
        case "E":
          if (newOrientation === "D") {
            this.gridData[this.hooverX][this.hooverY].label = "⬇️";
            this.hooverOrientation = "S";
          } else if (newOrientation === "G") {
            this.gridData[this.hooverX][this.hooverY].label = "⬆️";
            this.hooverOrientation = "N";
          }
          break;
        case "S":
          if (newOrientation === "D") {
            this.gridData[this.hooverX][this.hooverY].label = "⬅️";
            this.hooverOrientation = "W";
          } else if (newOrientation === "G") {
            this.gridData[this.hooverX][this.hooverY].label = "➡️";
            this.hooverOrientation = "E";
          }
          break;
        case "W":
          if (newOrientation === "D") {
            this.gridData[this.hooverX][this.hooverY].label = "⬆️";
            this.hooverOrientation = "N";
          } else if (newOrientation === "G") {
            this.gridData[this.hooverX][this.hooverY].label = "⬇️";
            this.hooverOrientation = "S";
          }
          break;
      }
    },
    forwardHoover(): void {
      const { north, east, south, west } = this.getSurroundingPosition();

      if (this.hooverOrientation === "N" && north) {
        const { x, y } = this.getPositionById(north)!;
        this.hooverX = x;
        this.hooverY = y;
        this.gridData[x][y].label = "⬆️";
      }
      if (this.hooverOrientation === "E" && east) {
        const { x, y } = this.getPositionById(east)!;
        this.hooverX = x;
        this.hooverY = y;
        this.gridData[x][y].label = "➡️";
      }
      if (this.hooverOrientation === "S" && south) {
        const { x, y } = this.getPositionById(south)!;
        this.hooverX = x;
        this.hooverY = y;
        this.gridData[x][y].label = "⬇️";
      }
      if (this.hooverOrientation === "W" && west) {
        const { x, y } = this.getPositionById(west)!;
        this.hooverX = x;
        this.hooverY = y;
        this.gridData[x][y].label = "⬅️";
      }
    },
    getSurroundingPosition(): {
      north?: number;
      east?: number;
      south?: number;
      west?: number;
    } {
      let north: number | undefined = undefined;
      let east: number | undefined = undefined;
      let south: number | undefined = undefined;
      let west: number | undefined = undefined;

      if (this.hooverY < this.gridSizeY - 1)
        north = this.gridData[this.hooverX][this.hooverY + 1].id;
      if (this.hooverX < this.gridSizeX - 1)
        east = this.gridData[this.hooverX + 1][this.hooverY].id;
      if (this.hooverY > 0)
        south = this.gridData[this.hooverX][this.hooverY - 1].id;
      if (this.hooverX > 0)
        west = this.gridData[this.hooverX - 1][this.hooverY].id;
      return { north, east, south, west };
    },
    getPositionById(id: number): { x: number; y: number } | null {
      if (!id) return null;
      for (let x = 0; x < this.gridSizeX; x++) {
        for (let y = 0; y < this.gridSizeY; y++) {
          if (this.gridData[x][y].id === id) {
            return { x, y };
          }
        }
      }
      return null; // Return null if ID is not found
    },
  },
};
</script>
